<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>VLP Receiver App</title>

    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="pages.css">
    <link rel="stylesheet" type="text/css" href="node_modules/typeface-roboto/index.css">
  </head>
  <body ng-app="myApp" ng-controller="fftdisplay">
    <div id="top-container">
      <!-- SIDEBAR -->
      <div id="sidebar">
        <div id="sidebar-inner">
          <div id="menu-items">
            <h1>VLP Receiver App</h1>
            <a ng-click="currentpage='portselect'" ng-class="{true: 'selected', false: ''}[currentpage=='portselect']">Port Select</a>
            <a ng-click="currentpage='websocket'" ng-class="{true: 'selected', false: ''}[currentpage=='websocket']">Websocket enable</a>
            <a ng-click="currentpage='display'" ng-class="{true: 'selected', false: ''}[currentpage=='display']">Display</a>
            <a ng-click="currentpage='position'" ng-class="{true: 'selected', false: ''}[currentpage=='position']">VLP</a>
            <a ng-click="currentpage='settings'" ng-class="{true: 'selected', false: ''}[currentpage=='settings']">Settings</a>
            <a ng-click="currentpage='saveddata'" ng-class="{true: 'selected', false: ''}[currentpage=='saveddata']">Saved data</a>
            <a ng-click="currentpage='robot'" ng-class="{true: 'selected', false: ''}[currentpage=='robot']">Robot</a>
          </div>
          <div ng-show="connected" class="con-status con">
            <p>Serial Connected</p>
          </div>
          <div ng-hide="connected" class="con-status ncon">
            <p>Serial Disconnected</p>
          </div>
        </div>

      </div>

      <div id="version-info">
        Version: {{VERSION}} <br>
        Nathaniel Faulkner July 18
      </div>

      <!-- MAIN CONTENT -->
      <div id="main-content">

        <!-- Main page -->
        <div ng-show="currentpage=='portselect'" id="portselect-page">
          <!-- <div ng-hide="connected"> -->
            <div ng-repeat="p in ports">
              <div ng-click="connectPort(p.comName)">{{p.comName}}</div>
            </div>
          <!-- </div> -->
  
          <div ng-show="connected">
            
          </div>
        </div>

        <!-- WebSocket -->
        <div ng-show="currentpage=='websocket'" id="websocket-page">
          <div><button ng-click="websocketBegin()">Start websocket</button></div>
          <div><input type="number" ng-model="wsSettings.port"></div>
          <div>Remote IP: <input type="text" ng-model="wsSettings.remoteIP"></div>
          <div>This IP: <input type="text" ng-model="wsSettings.thisIP"></div>
          <div><button ng-click="ws_sendIP()">Send this IP to board</button></div>
        </div>

        <!-- Display page -->
        <div ng-show="currentpage=='display'" id="display-page">
          <br>
          <canvas id="fftGraph"></canvas>
          <div>Highest peak freq: {{highestpeak}}</div>
          Max freq to display: <input type="number" ng-model="maxfreq">
          <!-- <div>Highest peak value: <span id="highestpeakv"></span></div> -->
          <!-- <div>SNR: <span id="snr"></span></div> -->
          <div ng-hide="av.avInProgress">
            <a>Average readings</a>
            <input type="checkbox" ng-model="settings.avReadings">
            <a>Number of readings per average</a>
            <input type="number" ng-model="settings.numToAv" ng-disabled="!settings.avReadings">
          </div>
          <div ng-show="av.avInProgress">
            <a>Saving values {{av.count}}</a>
          </div>
          <button ng-click="beginReading()">Save next read</button>
          <br>
          File prefix: <input type="text" ng-model="filePrefix">
          Current file number: {{currentFileI}}
          <br>
          <a>Accel:</a><br>
          <a>X: {{imu.accel.x}}</a><br>
          <a>Y: {{imu.accel.y}}</a><br>
          <a>Z: {{imu.accel.z}}</a><br>
    
          <a>Gyro:</a><br>
          <a>X: {{imu.gyro.x}}</a><br>
          <a>Y: {{imu.gyro.y}}</a><br>
          <a>Z: {{imu.gyro.z}}</a><br>
    
          <a>Magnet:</a><br>
          <a>X: {{imu.mag.x}}</a><br>
          <a>Y: {{imu.mag.y}}</a><br>
          <a>Z: {{imu.mag.z}}</a><br>
        </div>

        <!-- Settings page -->
        <div ng-show="currentpage=='settings'" id="settings-page">
          <h2>Settings</h2>
          <div>Sample rate: <input type="number" ng-model="settings.fs"></div>
          <div>Calibrate</div>
          <button ng-click="calibrateTB(2500)">TB1</button>
          <button ng-click="calibrateTB(2750)">TB2</button>
          <button ng-click="calibrateTB(3000)">TB3</button>
          <button ng-click="calibrateTB(3250)">TB4</button>
          <div ng-show="calibrate.state=='inProgress'">Calibrating... {{calibrate.count}}</div>
        </div>

        <!-- VLP Page -->
        <div ng-show="currentpage=='position'" id="position-page">
          <!-- <h3>Peaks</h3>
          <div ng-repeat="l in lights">
            Freq: {{l.freq}}, Val: {{l.value}}
          </div> -->
          <div>
            <canvas id="poscanvas"></canvas>
          </div>
        </div>

        <!-- Saved data -->
        <div ng-show="currentpage=='saveddata'" id="saveddata-page" ng-controller="dispfilesctrl">
          <div ng-show="fileopen==''">
            <div ng-repeat="f in savedFiles">
              <div ng-click="openfile(f)">{{f}}</div>
            </div>
            <button ng-click="getSavedFiles()">Refresh files</button>
          </div>

          <div ng-hide="fileopen==''">
            <canvas id="filecanvas"></canvas>
            <br>
            <button ng-click="closefile()">Close file</button>
            <button ng-click="redrawgraph()">Redraw graph</button>
            <br>
            File open: {{fileopen}}
            <div ng-hide="avNum==1" style="color:red">The IMU data and FFT in the current file is averaged from {{avNum}} readings.
              <br>
              The raw data is only from the final reading so disregard the raw data (ie is only 1/10 of the raw data)
            </div>
            <br>

            <a>Remove DC peak</a>
            <input type="checkbox" ng-model="settings.removeDC">
            <br>
            <a>Autoscale FFT </a>
            <input type="checkbox" ng-model="settings.fftAutoscale">
            <a>FFT Max height</a>
            <input type="number" ng-model="settings.fftHeight" ng-disabled="settings.fftAutoscale">
            <br>
            <a>Autoscale raw </a>
            <input type="checkbox" ng-model="settings.rawAutoscale">
            <a>Raw Max height</a>
            <input type="number" ng-model="settings.rawHeight" ng-disabled="settings.rawAutoscale">
            <br>

            <h1>Peak detection</h1>
            <a>Number of peaks</a>
            <input type="number" ng-model="settings.numPeaks">
            <br>
            <a>Min peak frequency</a>
            <input type="number" ng-model="settings.minFreq">
            <input type="number" ng-model="settings.maxPeakFreq">
            <br>
            <button ng-click="detectPeaks()">Find peaks</button>
            <div ng-repeat="peak in peaks">
              {{peak.freq}}, {{peak.value}}
            </div>
            <br>
            <h1>IMU Data</h1>
            <a>Accel:</a><br>
            <a>X: {{imu.accel.x}}</a><br>
            <a>Y: {{imu.accel.y}}</a><br>
            <a>Z: {{imu.accel.z}}</a><br>
      
            <a>Gyro:</a><br>
            <a>X: {{imu.gyro.x}}</a><br>
            <a>Y: {{imu.gyro.y}}</a><br>
            <a>Z: {{imu.gyro.z}}</a><br>
      
            <a>Magnet:</a><br>
            <a>X: {{imu.mag.x}}</a><br>
            <a>Y: {{imu.mag.y}}</a><br>
            <a>Z: {{imu.mag.z}}</a><br>



          </div>
        </div>

        <!-- Robot controller page -->
        <div ng-show="currentpage=='robot'" id="robot-page"  ng-controller="robotCtrl">
          <h2>Robot controller</h2>
          <div>
            <div>IP:<input type="text" ng-model="robot.ip"></div>
            <div>Remote port:<input type="number" ng-model="robot.remotePort"></div>
            <div>Local port:<input type="number" ng-model="robot.localPort"></div>
            <button ng-click="udpconnect()">Connect</button>
          </div>
          <div>
              <div><button ng-click="stop()">Stop</button></div>
              <div><button ng-click="forward()">Forward</button></div>
              <div><button ng-click="back()">Back</button></div>
              <div><button ng-click="left()">Left</button></div>
              <div><button ng-click="right()">Right</button></div>
              <div>Both: <input type="range" min="0" max="100" ng-model="speed"></div>
              <div>Left: <input type="range" min="-100" max="100" ng-model="speedL">{{speedL}}</div>
              <div>Right: <input type="range" min="-100" max="100" ng-model="speedR">{{speedR}}</div>
              <div><button ng-click="setLR()">Set LR</button></div>
              
          </div>
        </div>
      </div>
    </div>

    <script>
      require('angular')
      require('./index.js')
      require('./dispfiles.js')
      require('./robot.js')
    </script>
  </body>
</html>